.user-book-page {

    .book-page-header {
        width: 100%;
        height: 90vh;
        margin-bottom: 100px;
        background-size: cover;
        transform:translateY(0%);
        background-color: #5adada;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 00px 10px 20px 00px rgba(73, 73, 73, 0.5);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url( ../images/BookDoctor.jpg);

        .our-service {
            top:40%;
            left: 50%;
            width: 100%;
            text-align: center;
            position: absolute;
            transform: translate(-50%, -50%);
            .home-demand-service {
                color: #fff;
                font-size: 30px;
                font-weight: 800;
                transition: 01s ease;
            }
            .home-demand-service:hover {
                color: rgb(72, 208, 218);
                border-radius: 5px;
                font-size: 30px;
            }
        }

        .icon-container {
            top: 95vh;
            left: 50%;
            width: 75%;
            margin: auto;
            position: absolute;
            border-radius: 05px;
            padding: 20px 20px 20px 20px;
            transform: translate(-50%, -50%);
            background: rgb(255, 255, 255);
            box-shadow: 00px 00px 20px 00px rgba(224, 224, 224, 0.5);
    
            .icons-title {
                padding: 10px;
                font-size: 20px;
                text-align: center;
                color: rgb(128, 128, 128);
            }
    
            div.icons {
                font-size: 12px;
                cursor: pointer;
                margin-right: 16px;
                text-align: center;
                align-items: center;
                transition: 3s ease;
                display: inline-block;
                padding: 10px 50px 10px 50px;
                img {
                    width: 50px;
                    height: 40px;
                    margin-left: auto;
                    margin-right: auto;
                }
    
                .icons-desc {
                    margin-top: 05px;
                    transition: 3s ease;
                    color: rgb(128, 128, 128);
                }
    
              }
    
            div.icons:hover {
                border-radius: 10px;
                color: rgb(255, 255, 255);
                background: rgb(197, 197, 197);
    
                .icons-desc:hover {
                    color: rgb(255, 255, 255);
                }
            }
    
        }
    }

    .doctor-profile {
        width: 90%;
        margin: auto;

        .doctor {
            display: flex;
            padding: 20px;
            margin-top: 10px;
            border-radius: 10px;
            border: 1px solid rgb(236, 236, 236);

            .doctor-image {
                background: rgb(236, 236, 236);
                border-radius: 50%;
                height: 150px;
                width: 145px;
                img {
                    border-radius: 50%;
                    height: 150px;
                    width: 145px;
                }

            }

            .doctor-info {
                width: 100%;
                margin: auto;
                margin-left: 20px;
                
                h1 {
                    font-size: 15px;
                    color: rgb(56, 168, 183);
                }
    
                div {
                    text-align: justify;
                    line-height: 25px;
                    font-weight: 900;
                    font-size: 15px;
                    color: grey;
                }
            }

            .book-button {
                width: 20%;
                margin: auto;
                margin-left: 20px;
                text-align: center;

                button {
                    font-size: 14px;
                    cursor: pointer;
                    padding:  10px 15px;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                    color: hsl(0, 0%, 80%);
                    background: rgb(65, 168, 168);
                }

                button:hover {
                    color: hsl(0, 0%, 100%);
                    background: rgb(53, 141, 141);
                }

                button:active {
                    background: rgb(78, 167, 167);
                }
                
            }

        }

        .doctor:hover {
            border: 1px solid rgb(158, 212, 212);
        }

    }
    
    .head {
        margin-left: 05%;
        font-size: 25px;
        color: rgb(66, 193, 202);
    }

    .head-desc {
        margin-left: 05%;
        margin-bottom: 05%;
        color: rgb(100, 100, 100);
    }

    .user-dashbord-pagination {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 100px;
        
        .pagination-angles {
            font-weight: bold;
            line-height: 16px;
            font-size: 20px;
            margin: 0 30px;
          }
    
        .pagination-page {
            font-weight: 900;
            font-size: 15px;
            line-height: 16px;
            padding: 08px 30px;
            color: rgb(1, 61, 61);
            background: rgb(224, 223, 223);
            border-radius: 08px 08px 08px 08px;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        }
    }

        /* width */
        ::-webkit-scrollbar {
            width: 00px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 50px rgb(71, 71, 71); 
          }
           
          /* Handle scroll line */
          ::-webkit-scrollbar-thumb {
            background: rgb(133, 224, 240);
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: rgb(64, 65, 65);
          }

    .booking-container {
        top: 50%;
        left: 50%;
        width: 40%;
        height: 83%;
        z-index: 1;
        padding: 00px;
        overflow: auto;
        position: fixed;
        text-align: center;
        border-radius: 10px;
        background: rgb(1, 68, 68);
        transform: translate(-50%, -50%);
        box-shadow: 05px 05px 10px 00px rgba(0, 0, 0, 0.5);

        .booking-form {
            border-radius: 10px;
            padding: 0px 00px 10px 00px;
            background: rgb(1, 68, 68);
    
            .book-head {
                width: 100%;
                padding: 20px 00px 20px 00px;
                background: rgb(65, 168, 168);
                border-radius: 10px 10px 00px 00px;
        
                span {
                    font-size: 20px;
                    color: rgb(219, 219, 219);
                }
                
                .close-icon {
                    margin: 00px 10px 00px 00px;
                    cursor: pointer;
                    float: right;
                    height: 25px;
                    width: 25px;
                }
            }
        
            .book-dashbord-fields {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        
            .book-dashbord-fields .book-dashbord-input {
                grid-template-columns: 1fr 1fr;
                display: flex;
            }
    
            .input-label {
                width: 30%;
                text-align: left;
                font-weight: 900;
                margin-left: 15px;
                color: rgb(204, 198, 198);
            }
        
            input {
                width: 60%;
                margin-bottom: 20px;
                border-radius: 05px;
                color: rgb(63, 62, 62);
                padding: 05px 00px 05px 20px;
                background: rgb(233, 233, 233);
                border: 01px solid rgb(233, 233, 233);
            }
            
            select {
                width: 64%;
                margin-bottom: 20px;
                border-radius: 05px;
                color: rgb(63, 62, 62);
                padding: 05px 00px 05px 20px;
                background: rgb(233, 233, 233);
                border: 01px solid rgb(233, 233, 233);
            }

            .appointmentName-input {
                border: 01px solid rgb(248, 25, 25);
            }
            .appointmentName-input::placeholder {
                color: rgb(219, 119, 119);
            }
            .appointmentEmail-input {
                border: 01px solid rgb(248, 25, 25);
            }
            .appointmentEmail-input::placeholder {
                color: rgb(219, 119, 119);
            }
            .appointmentPhone-input {
                border: 01px solid rgb(248, 25, 25);
            }
            .appointmentPhone-input::placeholder {
                color: rgb(219, 119, 119);
            }
            .appointmentLocation-input {
                border: 01px solid rgb(248, 25, 25);
            }
            .appointmentLocation-input::placeholder {
                color: rgb(219, 119, 119);
            }
            .appointmentDate-input {
                color: rgb(219, 119, 119);
                border: 01px solid rgb(248, 25, 25);
            }
            .appointmentDate-input::placeholder {
                color: rgb(219, 119, 119);
            }
            .appointmentStartTime-input {
                color: rgb(219, 119, 119);
                border: 01px solid rgb(248, 25, 25);
            }
            .appointmentStartTime-input::placeholder {
                color: rgb(219, 119, 119);
            }
            .appointmentSessionTime-input {
                color: rgb(219, 119, 119);
                border: 01px solid rgb(248, 25, 25);
            }


    
            .book-form-error {
                font-size: 15px;
                color: #d4a7a7;
                margin-top: 10px;
                margin-left: 30px;
            }
        
            .book-dashbord-fields .book-button button {
                width: 50%;
                border: none;
                font-weight: 600;
                margin-top: 20px;
                border-radius: 05px;
                color: rgb(207, 204, 204);
                padding: 10px 00px 10px 00px;
                background: rgb(65, 168, 168);
            }
    
            .book-dashbord-fields .book-button button:hover {
                color: #ffffff;
                background: rgb(43, 131, 131);
            }
    
            .book-dashbord-fields .book-button button:active {
                color: #ffffff;
                background: rgb(97, 212, 212);
            }
    
            .book-dashbord-fields .book-dashbord-input .book-email-input {
                border: 2px solid #a70202;
            }
    
            .book-dashbord-fields .book-dashbord-input .book-email-input::placeholder {
                color: #a70202;
            }
    
            .book-dashbord-fields .book-dashbord-input .book-password-input {
                border: 2px solid #a70202;
            }
    
            .book-dashbord-fields .book-dashbord-input .book-password-input::placeholder {
                color: #a70202;
            }
        }
    }
    
    .popup-panel {
        top: 50%;
        left: 50%;
        width: 40%;
        z-index: 1;
        height: 83%;
        overflow: auto;
        position: fixed;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        background: rgb(255, 255, 255);
        border: 1px solid rgb(173, 173, 173);

        .popup-head {
            width: 100%;
            padding: 20px 00px 20px 00px;
            background: rgb(65, 168, 168);
            border-radius: 10px 10px 00px 00px;
    
            span {
                font-size: 20px;
                text-decoration: underline;
                margin: 00px 00px 00px 10px;
                color: rgb(219, 219, 219);
            }
            
            .close-icon {
                margin: 00px 10px 00px 00px;
                cursor: pointer;
                float: right;
                height: 25px;
                width: 25px;
            }
        }
    
        .optionHead {
            font-size: 20px;
            font-weight: 900;
            color: rgb(56, 168, 183);
            padding: 50px 00px 20px 50px;
        }

        .image {
            margin-right: 50px;
            cursor: pointer;
            float: right;
            height: 25px;
            width: 25px;
        }

        .desc {
            color: gray;
            cursor: pointer;
            margin-left: 50px;
            padding: 00px 00px 20px 00px;
        }

        .border {
            width: 80%;
            height: 1px;
            margin: auto;
            background: rgb(177, 177, 177);
        }

        .desc:hover {
            
            color: rgb(56, 168, 183);
        }
    }
}

// ################################ Responsiveness ####################################

@media(max-width: 1200px) {
    .user-book-page {
        .popup-panel {
            width: 50%;
        }

        .booking-container {
            width: 50%;
        }
    }
}


@media(max-width: 890px) {
    .user-book-page {
        .doctor-profile {
            width: 93%;
            .doctor {
                .book-button {
                    width: 30%;
                }
            }
        }

        .popup-panel {
            width: 70%;
        }

        .booking-container {
            width: 70%;
        }
    }

}


@media(max-width: 790px) {
    .user-book-page {
        
        .doctor-profile {
            width: 95%;
            .doctor {
                .doctor-info {
                    div {
                        font-size: 10px;
                    }
                }

                .book-button {
                    width: 40%;
                }
            }
        }
    }

}


@media(max-width: 690px) {
    .user-book-page {
        .book-page-header {
            .our-service {
                .home-demand-service {
                    font-size: 20px;
                    font-weight: 900;
                }
                .home-demand-service:hover {
                    font-size: 20px;
                }

                .error {
                    font-size: 10px;
                    font-weight: 900;
                }
            }
        }

        .doctor-profile {
            width: 97%;
            .doctor {
                .book-button {
                    width: 80%;
                }
            }
        }

        .popup-panel {
            width: 80%;
        }

        .booking-container {
            width: 80%;
        }
    }

}


@media(max-width: 550px) {
    .user-book-page {

        .doctor-profile {
            width: 97%;
            .doctor {
                display: block;
                padding: 20px 50px 20px 20px;
                .book-button {
                    width: 80%;
                    margin-top: 20px;
                }
            }
        }

        .head {
            font-size: 20px;
        }

        .popup-panel {
            width: 90%;
        }

        .booking-container {
            width: 90%;
        }
    }

}


@media(max-width: 460px) {
    .user-book-page {

        .booking-container {
            width: 90%;
            .booking-form {
                .book-dashbord-fields .book-dashbord-input {
                    grid-template-columns: 1fr;
                    display: block;
                }

                .input-label {
                    display: none;
                }

                .book-dashbord-fields .book-dashbord-input input {
                    width: 80%;
                }

                .book-dashbord-fields .book-dashbord-input select {
                    width: 85%;
                }
            }
        }

        .doctor-profile {
            width: 98%;
            .doctor {
                padding: 20px 20px 20px 20px;
            }
        }
    }

}


@media(max-width: 420px) {
    .user-book-page {

        .head {
            font-size: 15px;
        }

        .popup-panel {
            border-radius: 10px 10px 00px 00px;
            border: 2px solid rgb(172, 211, 209);

            .popup-head {
                span {
                    font-size: 15px;
                }
                
                .close-icon {
                    height: 20px;
                    width: 20px;
                }
            }

            .optionHead {
                font-size: 20px;
                padding: 50px 00px 20px 10px;
            }

            .image {
                margin-right: 10px;
            }

            .desc {
                margin-left: 10px;
                font-size: 15px;
            }
        }
    }

}
